2000: Material
3000: Sub-Con
500: Others

2001: Mechanical
2002: Electrical
2003: Instruments
2004: PLC, Software, Hardware
2005: Panel Hardware
2006: Consumables
2007: Tools
2008: Civil
2009: Computer
3001: Scaffolding
3002: Programming
3003: E&I Fabrication
3004: Mechanical Fabrication
3005: Man Power Supply
3006: LEW
3007: Calibration
3008: Equipment Rental
3009: Service
3010: Others
504 : Vehicle
510 : Training
511 : Medical
512 : Utilities
513 : Travel
514 : Safety
515 : Office
517 : Calibration
519 : Entertainment
520 : Others

5041: Fuel
5045: Loan
5042: Maintenance
5043: Parking
5044: Toll
5011: Training
5111: Medical
5123: Net
5122: Phone
5121: SP
5131: Flight
5132: Buses
5133: Taxi
5141: PPE
5151: Food
5152: Pantry
5171: Equipment
5172: Tools
5191: Entertainment
5121: Other

1 : Loan / Rental
2 : Fuel
3 : Parking
4 : Toll
5 : Maintenanc